<html>
  <head>
    <meta charset="utf-8">
    <title>Coin Machine</title>
  </head>
  <body>
      <h1>Make Change</h1>
      <form class="" action="/make_change" method="get">
          <label for="cents">Enter amount in cents</label>
          <input type="number" name="cents" min="1" required>
          <button type="submit" name="button">Make Change</button>
      </form>
  </body>
</html>
