<html>
  <head>
    <meta charset="utf-8">
    <title>Coin Machine</title>
  </head>
  <body>
        <ul>
            <li>Quarters: {{ coins[0] }}</li>
            <li>Dimes: {{ coins[1] }}</li>
            <li>Nickels: {{ coins[2] }}</li>
            <li>Pennies: {{ coins[3] }}</li>
        </ul>
  </body>
</html>
